<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Column Rendering Examples
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							DataTables
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Advanced
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Column Rendering
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon">
			<i class="flaticon-exclamation m--font-brand"></i>
		</div>
		<div class="m-alert__text">
			Each column has an optional rendering control called columns.render which can be used to process the content of each cell before the data is used. 		See official documentation
			<a href="https://datatables.net/examples/advanced_init/column_render.html" >
				here
			</a>
			.
		</div>
	</div>
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Column Rendering
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
							<span>
								<i class="la la-plus"></i>
								<span>
									New Record
								</span>
							</span>
						</a>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
							<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
								<i class="la la-ellipsis-h m--font-brand"></i>
							</a>
							<div class="m-dropdown__wrapper">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">
															Create Post
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">
															Send Messages
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-multimedia-2"></i>
														<span class="m-nav__link-text">
															Upload File
														</span>
													</a>
												</li>
												<li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">
															FAQ
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">
															Support
														</span>
													</a>
												</li>
												<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
												<li class="m-nav__item m--hide">
													<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
														Submit
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
				<thead>
					<tr>
						<th>
							RecordID
						</th>
						<th>
							CompanyEmail
						</th>
						<th>
							CompanyAgent
						</th>
						<th>
							CompanyName
						</th>
						<th>
							Status
						</th>
						<th>
							Type
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							nsailor0@livejournal.com
						</td>
						<td>
							Nixie Sailor
						</td>
						<td>
							Gleichner, Ziemann and Gutkowski
						</td>
						<td>
							3
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							egiraldez1@seattletimes.com
						</td>
						<td>
							Emelita Giraldez
						</td>
						<td>
							Rosenbaum-Reichel
						</td>
						<td>
							6
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							uluckin2@state.gov
						</td>
						<td>
							Ula Luckin
						</td>
						<td>
							Kulas, Cassin and Batz
						</td>
						<td>
							1
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							4
						</td>
						<td>
							ecure3@trellian.com
						</td>
						<td>
							Evangeline Cure
						</td>
						<td>
							Pfannerstill-Treutel
						</td>
						<td>
							1
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							5
						</td>
						<td>
							tst4@msn.com
						</td>
						<td>
							Tierney St. Louis
						</td>
						<td>
							Dicki-Kling
						</td>
						<td>
							2
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							6
						</td>
						<td>
							greinhard5@instagram.com
						</td>
						<td>
							Gerhard Reinhard
						</td>
						<td>
							Gleason, Kub and Marquardt
						</td>
						<td>
							5
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							7
						</td>
						<td>
							eshelley6@pcworld.com
						</td>
						<td>
							Englebert Shelley
						</td>
						<td>
							Jenkins Inc
						</td>
						<td>
							2
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							8
						</td>
						<td>
							hkite7@epa.gov
						</td>
						<td>
							Hazlett Kite
						</td>
						<td>
							Streich LLC
						</td>
						<td>
							6
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							9
						</td>
						<td>
							fmorby8@surveymonkey.com
						</td>
						<td>
							Freida Morby
						</td>
						<td>
							Haley, Schamberger and Durgan
						</td>
						<td>
							2
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							10
						</td>
						<td>
							ohelian9@usatoday.com
						</td>
						<td>
							Obed Helian
						</td>
						<td>
							Labadie, Predovic and Hammes
						</td>
						<td>
							1
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							11
						</td>
						<td>
							samya@earthlink.net
						</td>
						<td>
							Sibyl Amy
						</td>
						<td>
							Treutel-Ratke
						</td>
						<td>
							4
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							12
						</td>
						<td>
							nfoldesb@lycos.com
						</td>
						<td>
							Norri Foldes
						</td>
						<td>
							Strosin, Nitzsche and Wisozk
						</td>
						<td>
							3
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							13
						</td>
						<td>
							morhtmannc@weibo.com
						</td>
						<td>
							Myrna Orhtmann
						</td>
						<td>
							Miller-Schiller
						</td>
						<td>
							3
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							14
						</td>
						<td>
							skneathd@bizjournals.com
						</td>
						<td>
							Sioux Kneath
						</td>
						<td>
							Rice, Cole and Spinka
						</td>
						<td>
							4
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							15
						</td>
						<td>
							cjacmare@google.pl
						</td>
						<td>
							Christa Jacmar
						</td>
						<td>
							Brakus-Hansen
						</td>
						<td>
							1
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							16
						</td>
						<td>
							sgoraccif@thetimes.co.uk
						</td>
						<td>
							Shandee Goracci
						</td>
						<td>
							Bergnaum, Thiel and Schuppe
						</td>
						<td>
							5
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							17
						</td>
						<td>
							jcolvieg@mit.edu
						</td>
						<td>
							Jerrome Colvie
						</td>
						<td>
							Kreiger, Glover and Connelly
						</td>
						<td>
							3
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							18
						</td>
						<td>
							mplenderleithh@globo.com
						</td>
						<td>
							Michaelina Plenderleith
						</td>
						<td>
							Legros-Gleichner
						</td>
						<td>
							1
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							19
						</td>
						<td>
							lluthwoodi@constantcontact.com
						</td>
						<td>
							Lombard Luthwood
						</td>
						<td>
							Haag LLC
						</td>
						<td>
							1
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							20
						</td>
						<td>
							lchevinj@mapy.cz
						</td>
						<td>
							Leonora Chevin
						</td>
						<td>
							Mann LLC
						</td>
						<td>
							2
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							21
						</td>
						<td>
							tseakesk@jigsy.com
						</td>
						<td>
							Tannie Seakes
						</td>
						<td>
							Blanda Group
						</td>
						<td>
							6
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							22
						</td>
						<td>
							ywetherelll@webnode.com
						</td>
						<td>
							Yardley Wetherell
						</td>
						<td>
							Gerlach-Schultz
						</td>
						<td>
							2
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							23
						</td>
						<td>
							bpeascodm@devhub.com
						</td>
						<td>
							Bryn Peascod
						</td>
						<td>
							Larkin and Sons
						</td>
						<td>
							6
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							24
						</td>
						<td>
							cjeromsonn@ning.com
						</td>
						<td>
							Chrissie Jeromson
						</td>
						<td>
							Brakus-McCullough
						</td>
						<td>
							2
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							25
						</td>
						<td>
							gclampo@vistaprint.com
						</td>
						<td>
							Gusti Clamp
						</td>
						<td>
							Stokes Group
						</td>
						<td>
							6
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							26
						</td>
						<td>
							ojobbinsp@w3.org
						</td>
						<td>
							Otis Jobbins
						</td>
						<td>
							Ruecker, Leffler and Abshire
						</td>
						<td>
							4
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							27
						</td>
						<td>
							lhaycoxq@samsung.com
						</td>
						<td>
							Lonnie Haycox
						</td>
						<td>
							Feest Group
						</td>
						<td>
							1
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							28
						</td>
						<td>
							hcastellir@nationalgeographic.com
						</td>
						<td>
							Heddi Castelli
						</td>
						<td>
							Kessler and Sons
						</td>
						<td>
							5
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							29
						</td>
						<td>
							todowgaines@princeton.edu
						</td>
						<td>
							Tuck O'Dowgaine
						</td>
						<td>
							Simonis, Rowe and Davis
						</td>
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							30
						</td>
						<td>
							vcoshamt@simplemachines.org
						</td>
						<td>
							Vernon Cosham
						</td>
						<td>
							Kreiger-Nicolas
						</td>
						<td>
							4
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							31
						</td>
						<td>
							bmaccrackenu@hostgator.com
						</td>
						<td>
							Bryna MacCracken
						</td>
						<td>
							Hyatt-Witting
						</td>
						<td>
							2
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							32
						</td>
						<td>
							farnallv@vistaprint.com
						</td>
						<td>
							Freda Arnall
						</td>
						<td>
							Dicki, Morar and Stiedemann
						</td>
						<td>
							3
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							33
						</td>
						<td>
							pkringew@usatoday.com
						</td>
						<td>
							Pavel Kringe
						</td>
						<td>
							Goldner-Lehner
						</td>
						<td>
							4
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							34
						</td>
						<td>
							fnazaretx@si.edu
						</td>
						<td>
							Felix Nazaret
						</td>
						<td>
							Waters, Quigley and Keeling
						</td>
						<td>
							5
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							35
						</td>
						<td>
							pallanbyy@discovery.com
						</td>
						<td>
							Penrod Allanby
						</td>
						<td>
							Rodriguez Group
						</td>
						<td>
							2
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							36
						</td>
						<td>
							hpassbyz@wikimedia.org
						</td>
						<td>
							Hubey Passby
						</td>
						<td>
							Lemke-Hermiston
						</td>
						<td>
							2
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							37
						</td>
						<td>
							mrotlauf10@naver.com
						</td>
						<td>
							Magdaia Rotlauf
						</td>
						<td>
							Hettinger, Medhurst and Heaney
						</td>
						<td>
							3
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							38
						</td>
						<td>
							alawrance11@un.org
						</td>
						<td>
							Alfonse Lawrance
						</td>
						<td>
							Schuppe-Harber
						</td>
						<td>
							1
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							39
						</td>
						<td>
							kchettoe12@zdnet.com
						</td>
						<td>
							Kessiah Chettoe
						</td>
						<td>
							Mraz LLC
						</td>
						<td>
							5
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							40
						</td>
						<td>
							nfairbanks13@geocities.com
						</td>
						<td>
							Natka Fairbanks
						</td>
						<td>
							Mueller-Greenholt
						</td>
						<td>
							3
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							41
						</td>
						<td>
							spuvia14@alexa.com
						</td>
						<td>
							Shaw Puvia
						</td>
						<td>
							Veum LLC
						</td>
						<td>
							3
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							42
						</td>
						<td>
							adingate15@furl.net
						</td>
						<td>
							Alden Dingate
						</td>
						<td>
							Heidenreich Inc
						</td>
						<td>
							5
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							43
						</td>
						<td>
							cpeplay16@typepad.com
						</td>
						<td>
							Cherish Peplay
						</td>
						<td>
							McCullough-Gibson
						</td>
						<td>
							2
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							44
						</td>
						<td>
							nswetman17@washington.edu
						</td>
						<td>
							Nedi Swetman
						</td>
						<td>
							Gerhold Inc
						</td>
						<td>
							5
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							45
						</td>
						<td>
							ablick18@pinterest.com
						</td>
						<td>
							Ashley Blick
						</td>
						<td>
							Cummings-Goodwin
						</td>
						<td>
							4
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							46
						</td>
						<td>
							sharmant19@springer.com
						</td>
						<td>
							Saunders Harmant
						</td>
						<td>
							O'Kon-Wiegand
						</td>
						<td>
							3
						</td>
						<td>
							2
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							47
						</td>
						<td>
							mlaurencot1a@google.com
						</td>
						<td>
							Mellisa Laurencot
						</td>
						<td>
							Jacobs Group
						</td>
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							48
						</td>
						<td>
							omyderscough1b@printfriendly.com
						</td>
						<td>
							Orland Myderscough
						</td>
						<td>
							Gutkowski Inc
						</td>
						<td>
							5
						</td>
						<td>
							3
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							49
						</td>
						<td>
							diglesias1c@usa.gov
						</td>
						<td>
							Devi Iglesias
						</td>
						<td>
							Ullrich-Dibbert
						</td>
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
					<tr>
						<td>
							50
						</td>
						<td>
							btummasutti1d@google.es
						</td>
						<td>
							Bliss Tummasutti
						</td>
						<td>
							Legros-Cummings
						</td>
						<td>
							5
						</td>
						<td>
							1
						</td>
						<td nowrap></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
