<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light" appunwraptag="">
	<div class="m-quick-sidebar__content m--hide">
		<span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
			<i class="la la-close"></i>
		</span>
		<div class="quicksidebartabs">
      <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand " role="tablist">
        <li class="nav-item m-tabs__item quicksidebarnavlist1">
          <a class="nav-link m-tabs__link active sidetitletabs" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger" role="tab">
            Folder
          </a>
        </li>
        <li class="nav-item m-tabs__item quicksidebarnavlist1">
          <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab">
            Amenities
          </a>
        </li>
        <li class="nav-item m-tabs__item quicksidebarnavlist1">
          <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs" role="tab">
            Projects
          </a>
        </li>
			</ul>

		</div>	


			
			<div class="tab-content">
					<div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
						<div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
							<div class="m-messenger__messages">
								<div class="m-list-timeline">
									<div class="m-list-timeline__group">
										
									<div class="m-list-timeline__group">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-success bulletsdot"></span>
												<a href="" class="m-list-timeline__text">
													12 new users registered
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="" class="m-list-timeline__text">
													System shutdown
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
												<a href="" class="m-list-timeline__text">
													New invoice received
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
												<a href="" class="m-list-timeline__text">
													Database overloaded 89%
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
												<a href="" class="m-list-timeline__text">
													System error
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="" class="m-list-timeline__text">
													Production server down
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
												<a href="" class="m-list-timeline__text">
													Production server up
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="" class="m-list-timeline__text">
													New order received
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="tab-pane  m-scrollable" id="m_quick_sidebar_tabs_settings" role="tabpanel">
						<div class="m-list-settings">
							<div class="m-list-settings__group">
								<div class="m-list-timeline">
									<div class="m-list-timeline__group">
										
									<div class="m-list-timeline__group">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
												<a href="" class="m-list-timeline__text">
													New invoice received
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
												<a href="" class="m-list-timeline__text">
													Database overloaded 89%
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
												<a href="" class="m-list-timeline__text">
													System error
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="" class="m-list-timeline__text">
													Production server down
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
												<a href="" class="m-list-timeline__text">
													Production server up
												</a>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="" class="m-list-timeline__text">
													New order received
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="tab-pane  m-scrollable" id="m_quick_sidebar_tabs_logs" role="tabpanel">
						<div class="m-list-timeline">
							<div class="m-list-timeline__group">
								
							<div class="m-list-timeline__group">
								<div class="m-list-timeline__items">
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
										<a href="" class="m-list-timeline__text">
											Production server up
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
										<a href="" class="m-list-timeline__text">
											New order received
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
										<a href="" class="m-list-timeline__text">
											12 new users registered
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
										<a href="" class="m-list-timeline__text">
											System shutdown
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
										<a href="" class="m-list-timeline__text">
											New invoice received
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
										<a href="" class="m-list-timeline__text">
											Database overloaded 89%
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
										<a href="" class="m-list-timeline__text">
											System error
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
										<a href="" class="m-list-timeline__text">
											Production server down
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
										<a href="" class="m-list-timeline__text">
											Production server up
										</a>
									</div>
									<div class="m-list-timeline__item">
										<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
										<a href="" class="m-list-timeline__text">
											New order received
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    </div>
  </div>        